// Plan card begin
.plan__card {
  background-color: $secondary-color;
  border-radius: 10px;
  border: 2px solid $border-primary-color;
  padding: 80px 69px 50px;

  & a {
    padding: 10px 63px;
    font-weight: $fw-bold;
  }

  &:hover {
    border-color: $primary-color;
    cursor: pointer;
  }

  &:hover a {
    color: $secondary-color;
    font-weight: $fw-bold;
    background-color: $primary-color;
    box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
    transform: translateY(-0.25rem);
  }
}
// Plan card end

// Customer card begin
.customer__card {
  border: 2px solid $border-primary-color;
  border-radius: 10px;
  padding: 30px;
  max-width: 430px;
  height: 230px;

  &:hover {
    border-color: $primary-color;
    cursor: pointer;
  }
}
// Customer card end
