// Plan card begin
.plan__card {
  background-color: $bg-white-color;
  border-radius: 10px;
  border: 2px solid $border-gray-light-color;
  padding: 80px 69px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    padding: 10px 63px;
    font-weight: $fw-bold;
  }

  &:hover {
    border-color: $border-dark-red-color;
  }

  &:hover a {
    color: $text-white-color;
    font-weight: $fw-bold;
    background-color: $bg-dark-red-color;
    box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
    transform: translateY(-0.25rem);
  }
}
// Plan card end

// Customer card begin
.customer__card {
  border: 2px solid $border-gray-light-color;
  border-radius: 10px;
  padding: 30px;
  max-width: 430px;
  height: 230px;
}
// Customer card end
@media (max-width: 768px) {
  .plan__card {
    & a {
      font-size: $fs-x-large;
      padding: 13px 100px;
    }
  }
}

@media (max-width: 576px) {
  .plan__card {
    & a {
      font-size: $fs-xl-large;
      padding: 20px 200px;
    }
  }
}
