// Feature begin
.feature__list {
  &-item {
    background-image: url(../assets/images/icons/check-circle.svg);
    background-repeat: no-repeat;
    background-position: 0 3px;
  }
}
// Feature end

// Plan begin
.plan__details {
  .plan__infor {
    background-image: url(../assets/images/icons/check.svg);
    background-repeat: no-repeat;
  }
}
// Plan end

// Customer begin
.customer__rating {
  background-image: url(../assets/images/icons/star.svg);
  background-repeat: no-repeat;
  background-position: 34px 1px;
}
// Customer end

// Footer begin
.footer__social {
  margin-bottom: 30px;
  .social__fb {
    background-image: url(../assets/images/icons/facebook.svg);
  }

  .social__twt {
    background-image: url(../assets/images/icons/twitter.svg);
  }

  .social__insta {
    background-image: url(../assets/images/icons/instagram.svg);
  }

  .social__fb,
  .social__twt,
  .social__insta {
    width: 33.6px;
    height: 33.6px;
    background-size: 60px;
    background-position: center top;
  }

  .social__twt,
  .social__insta {
    margin-left: 16px;
  }
}
// Footer end

@media (max-width: 992px) {
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer {
    .social__fb,
    .social__twt,
    .social__insta {
      width: 30px;
      height: 35px;
    }
  }

  .feature__list {
    &-item {
      background-position: 0px 2px;
      background-size: contain;
    }
  }

  .plan__infor {
    background-position: 4px;
    background-size: 40px;
  }

  .customer__rating {
    background-position: top right;
    background-size: 18px;
  }
}

@media (max-width: 576px) {
  .feature {
    &__container {
      .feature__content {
        .feature__list {
          &-item {
            background-position: 0px 2px;
            background-size: 24px 24px;

            span {
              margin-left: 0;
              transform: translateX(30px);
            }
          }
        }
      }
    }
  }

  .plan__list {
    .plan__details {
      .plan__infor {
        background-size: 35px;
        background-position: 0;
        span {
          margin-left: 36px;
        }
      }
    }
  }
}
