.navbar {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__logo {
    margin-right: 158px;
  }
  &__menu,
  &__auth {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: capitalize;
  }

  &__menu {
    gap: 40px;
    &-item {
      .navbar__menu-link {
        color: $text-primary-color;
        font-size: $fs-smail;
        font-weight: $fw-normal;
        text-decoration: none;

        &:hover {
          color: $text-dark-red-color;
        }
      }
    }
  }

  &__auth {
    gap: 30px;
    &-signin {
      color: $text-secondary-color;
      font-size: $fs-smail;
      font-weight: $fw-medium;
      text-decoration: none;
    }

    & button:hover {
      color: $text-white-color;
      background-color: $bg-dark-red-color;
      box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
      transform: translateY(-0.25rem);
    }
  }
}

@media (max-width: 1440px) {
  .navbar {
    &__auth {
      flex-grow: 0;
    }
  }
}

@media (min-width: 992px) {
  .border-bottom {
    border-bottom: none !important;
  }

  .navbar__menu-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .navbar {
    box-shadow: 0 25px 45px rgba(79, 86, 101, 0.075);
    padding: 0 150px;
    width: 1440px;

    &__logo {
      width: 250px;
    }

    &__menu {
      gap: 20px;
      flex-grow: 0;
      align-items: flex-start;

      &-item {
        .navbar__menu-link {
          font-size: $fs-large;
        }
        &:last-child {
          margin-bottom: 14px;
        }
      }
    }

    &__auth {
      margin-top: 20px;

      &-signin,
      &-signup {
        font-size: $fs-large;
      }
    }

    .border-bottom {
      border-bottom: 1px solid #bec3d0 !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    &__logo {
      margin-right: 50px;
    }

    &__auth {
      width: 250px;
      margin-left: 50px;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .navbar {
    &__logo {
      & img {
        width: 200px;
      }
    }

    button.navbar-toggler {
      font-size: $fs-large;
    }
  }
}

@media (max-width: 769px) {
  .navbar {
    &__logo {
      & img {
        width: 250px;
      }
    }

    button.navbar-toggler {
      font-size: 40px;
    }
  }
}
