.footer {
  padding-top   : 185px;
  padding-bottom: 100px;
  transform     : translateY(-10%);
}

.footer__container {
  display: flex;
}

.footer__logo {
  margin-bottom: 17px;
}

.footer__content--right {
  display: flex;
}

.footer__col:nth-child(1) {
  margin-left: 230px;
}

.footer__col:nth-child(2) {
  width      : 122px;
  margin-left: 127px;
}

.footer__col:nth-child(3) {
  margin-left: 126px;
}

.footer__links .footer__item {
  margin-bottom: 10px;
}

.social {
  display      : flex;
  margin-bottom: 34px;
  gap          : 20px;
}

.footer__desc {
  margin-bottom: 29px;
  max-width    : 340px;
}