.d--flex {
  display: flex;
}

.justify__content--between {
  justify-content: space-between;
}

.justify__content--center {
  justify-content: center;
}

.align__items--end {
  align-items: flex-end;
}

.align__items--center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}
