@mixin responsive($breakpoint) {
  @if $breakpoint == "large" {
    @media (max-width: $max-width-large) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media (max-width: $max-width-medium) {
      @content;
    }
  } @else if $breakpoint == "small" {
    @media (max-width: $max-width-small) {
      @content;
    }
  } @else if $breakpoint == "extra-small" {
    @media (max-width: $max-width-extra-small) {
      @content;
    }
  }
}

@mixin grid-layout($grid-template-columns: null, $gap: null, $justify: null) {
  @if $grid-template-columns != null {
    grid-template-columns: $grid-template-columns;
  }

  @if $justify != null {
    justify-content: $justify;
  }

  @if $gap != null {
    gap: $gap;
  }
}

@mixin flex-layout(
  $justify: null,
  $align: null,
  $direction: null,
  $gap: null,
  $wrap: null,
  $grow: null
) {
  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $wrap != null {
    flex-wrap: $wrap;
  }

  @if $grow != null {
    flex-grow: $grow;
  }
}

@mixin set-position($relative: null, $absolute: null, $sticky: null) {
  @if $relative != null {
    position: $relative;
  }

  @if $absolute != null {
    position: $absolute;
  }

  @if $sticky != null {
    position: $sticky;
  }
}

@mixin set-location($top: null, $left: null, $right: null, $bottom: null) {
  @if $top != null {
    top: $top;
  }

  @if $left != null {
    left: $left;
  }

  @if $right != null {
    right: $right;
  }

  @if $bottom != null {
    bottom: $bottom;
  }
}

%common-header {
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
}

%d-grid {
  display: grid;
}

%d-flex {
  display: flex;
}

%inline-block {
  display: inline-block;
}

%block {
  display: block;
}
