body {
  color: $text-primary-color !important;
  font-weight: $fw-normal !important;
  background-color: $bg-white-color !important;
  word-wrap: break-word !important;
  font-family: $primary-font !important;
}
