/* Hero img begin */
.hero__img {
  position : absolute;
  top      : 50%;
  right    : 0;
  transform: translate(65px, -51%);
  width    : 611px;
  height   : 382px;
}

/* Hero img end */


/* Feature img begin */
.feature__img {
  width    : 100%;
  max-width: 508px;
  height   : 415px;
}

/* Feature img end */

/* Plan img start */
.plan__img {
  height: 165px;
}

.plan__card__img {
  width    : 100%;
  max-width: 145px;
  height   : 165px
}

/* Plan img end */

/* Customer img begin */
.customer__avatar img {
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 9999px;
}

.customer__rating>div,
.customer__rating img {
  width    : 100%;
  max-width: 16px;
  height   : 16px;
}

.customer__avatar {
  width    : 100%;
  max-width: 50px;
  height   : 50px;
}

.navigation__bar--transition img {
  width    : 100%;
  max-width: 135px;
  height   : 15px;
}

/* Customer img end */