.navbar {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.navbar__menu {
  display    : flex;
  align-items: center;
  gap        : 40px;
}

.nav__menu-link {
  color      : var(--text-primary-color);
  font-size  : var(--fs-small);
  font-weight: var(--fw-normal);
}

.nav__menu-link:hover {
  color: var(--text-dark-red);
}

.navbar__auth {
  display       : flex;
  align-items   : center;
  gap           : 30px;
  text-transform: capitalize;
}

.navbar__auth button:hover {
  background-color: var(--bg-dark-red);
  color           : var(--text-white-color);
}

.navbar__auth-signin {
  color      : var(--text-secondary-color);
  font-weight: var(--fw-medium);
  font-size  : var(--fs-small);
}