.plan__card {
  background-color: var(--bg-white-color);
  border-radius   : 10px;
  border          : 2px solid var(--border-gray-light-color);
  padding         : 80px 69px 50px;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
}

.plan__card a {
  padding    : 13px 63px;
  font-weight: var(--fw-bold);
}

.plan__card:hover {
  border-color: var(--border-dark-red);
}

.plan__card:hover a {
  background-color: var(--bg-dark-red);
  font-weight     : var(--fw-bold);
  box-shadow      : 0 30px 54px -5px rgba(245, 56, 56, 0.35);
  color           : var(--text-white-color);
}