.feature {
  padding-bottom: 211px;
}

.feature__container {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-end;
  gap            : 170px;
}

.feature__content {
  max-width: 428px;
  width    : 100%;
}

.feature__content .feature__heading {
  font-size     : var(--fs-large);
  line-height   : var(--lh-xl-huge);
  padding-bottom: 20px;
}

.feature__desc {
  padding-bottom: 20px;
}

.feature__list {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  gap            : 15px;
}

.feature__item {
  display    : flex;
  align-items: center;
  gap        : 10px;
}

.feature__item>span {
  font-size  : var(--fs-x-small);
  line-height: var(--lh-xxl-medium);
}