.header {
  padding-top   : 50px;
  padding-bottom: 90px;
}

.navbar {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.navbar__menu {
  display    : flex;
  align-items: center;
  gap        : 40px;
}

.menu__link {
  color      : var(--text-primary-color);
  font-size  : var(--fs-small);
  font-weight: var(--fw-normal);
}

.navbar__auth {
  display       : flex;
  align-items   : center;
  gap           : 30px;
  text-transform: capitalize;
}

.navbar__auth--signin {
  color      : var(--text-secondary-color);
  font-weight: var(--fw-medium);
  font-size  : var(--fs-small);
}