.hero {
  margin-bottom: 102px;
}

.hero__container {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 40px;
  position       : relative;
}

.hero__content {
  width    : 100%;
  max-width: 555px;
}

.hero__heading {
  margin-bottom: 20px;
}

.hero__desc {
  margin-bottom: 50px;
}