.intro {
  padding-bottom: 95px;
}

.intro__container {
  background-color: var(--btn-primary-color);
  border-radius   : 10px;
  padding         : 37px 0;
  box-shadow      : 0 50px 114px 0 rgba(13, 16, 37, 0.068);
  display         : flex;
  justify-content : space-evenly;
  min-height      : 200px;
}

.intro--item {
  display    : flex;
  align-items: center;
  gap        : 36px;
}

.intro--item:nth-child(2) {
  border-left : 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
  padding     : 0 113px;
}


.intro__title {
  font-size  : var(--fs-x-large);
  font-weight: var(--fw-bold);
  line-height: calc(30/25);
}

.intro__text {
  font-size  : var(--fs-medium);
  line-height: calc(30/20);
}