.customer__header {
  text-align   : center;
  margin       : 0 auto;
  max-width    : 555px;
  margin-bottom: 60px;
}

.customer__title {
  font-size    : var(--fs-large);
  line-height  : calc(50/35);
  margin-bottom: 20px;
}

.customer__list {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 50px;
}

.customer__top {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-bottom  : 20px;
}

.customer__infor {
  display    : flex;
  align-items: center;
  gap        : 20px;
}

.customer__name {
  color        : var(--text-secondary-color);
  font-size    : var(--fs-x-medium);
  font-weight  : var(--fw-medium);
  margin-bottom: 5px;

}

.customer__address {
  color    : var(--text-primary-color);
  font-size: var(--fs-x-small);
}

.customer__name,
.customer__address {
  line-height: 1;
}

.customer__rating {
  display    : flex;
  align-items: center;
  gap        : 10px;
}

.customer__rating span {
  color      : var(--text-secondary-color);
  font-size  : var(--fs-small);
  font-weight: var(--fw-normal);
  line-height: calc(30/16);
}


.customer__describe {
  color      : var(--text-secondary-color);
  font-size  : var(--fs-small);
  font-weight: var(--fw-normal);
  line-height: 1.6;
}

.customer__describe {
  width : 340px;
  height: 100px;
}

.customer__navigate {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.direction {
  display    : flex;
  align-items: center;
  gap        : 20px;
}

.direction__backward,
.direction__forward {
  border-color : var(--btn-secondary-color);
  border-radius: 9999px;
  border       : 2px solid var(--btn-secondary-color);
  padding      : 15px;
  width        : 60px;
  height       : 60px;
  position     : relative;
}

.arrow__backward,
.arrow__forward {
  position: absolute;
  top     : 25%;
}

.direction__forward {
  background-color: var(--btn-secondary-color);
  color           : var(--btn-primary-color);
}