.footer {
  padding-top: 185px;
  padding-bottom: 100px;

  &__container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;

    .footer__content--left {
      margin-right: 225px;
      .footer__logo {
        margin-bottom: 17px;
      }

      .footer__desc {
        width: 340px;
        margin-bottom: 30px;
      }
    }

    .footer__content--right {
      .footer__col {
        &:nth-child(2) {
          margin-left: 75px;
        }

        &:nth-child(3) {
          margin-left: 124px;
        }

        .footer__heading {
          width: 103px;
        }
        .footer__links {
          padding-left: 0;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
          .footer__item {
            margin: 6px 0;
          }
        }
      }
    }
  }
}
