.footer {
  padding-top: 185px;
  padding-bottom: 100px;

  &__content {
    display: grid;
    grid-template-columns:
      3fr 1fr 1fr 1fr
      &--left {
      margin-right: 421px;
      max-width: 340px;
      width: 100%;
    }

    &--right {
      display: flex;
    }
  }

  &__logo {
    margin-bottom: 17px;
  }

  &__desc {
    margin-bottom: 30px;
  }

  &__col {
    &:nth-child(2) {
      margin-left: 75px;
    }
    &:nth-child(3) {
      margin-left: 124px;
    }
  }

  &__heading {
    width: 103px;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }

  &__item {
    margin: 6px 0;
  }
}
