.footer {
  padding-top: 185px;
  padding-bottom: 100px;
  &__container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    .footer__content--left {
      margin-right: 225px;
      .footer__logo {
        margin-bottom: 17px;
      }
      .footer__desc {
        width: 340px;
        margin-bottom: 30px;
      }
    }
    .footer__content--right {
      .footer__col {
        &:nth-child(2) {
          margin-left: 75px;
        }
        &:nth-child(3) {
          margin-left: 124px;
        }
        .footer__heading {
          width: 103px;
        }
        .footer__links {
          padding-left: 0;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
          .footer__item {
            margin: 6px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 200px;
    &__container {
      .footer__content--left {
        .footer__logo {
          &img {
            width: 250px;
          }
        }
        .footer__desc {
          width: 100%;
        }
      }
      grid-template-columns: 1fr;
      .footer__content--right {
        justify-content: space-between;
        .footer__col {
          &:nth-child(2),
          &:nth-child(3) {
            margin-left: 0;
          }
          .footer__heading {
            max-width: 250px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .footer {
    padding-top: 230px;
    &__container {
      .footer__content--left {
        .footer__logo {
          &img {
            width: 300px;
          }
        }
      }
      .footer__content--right {
        flex-wrap: wrap;
        .footer__col {
          &:nth-child(1) {
            width: 50%;
          }
          &:nth-child(2) {
            width: 50%;
          }
          .footer__heading {
            max-width: 300px;
          }
          .footer__links {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
