.header {
  margin-top: 26px;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $secondary-color;

  @include largeDesktop {
    margin-top: 26px;

    &__container {
      box-sizing: border-box;
    }
  }

  @include tablet {
    margin-top: 0;
  }
}
