.text {
  color      : var(--text-secondary-color);
  font-size  : var(--fs-x-huge);
  font-weight: var(--fw-medium);
  line-height: var(--lh-xxl-huge);
}

.subtext {
  color      : var(--text-primary-color);
  font-size  : var(--fs-small);
  font-weight: var(--fw-normal);
  line-height: var(--lh-xl-medium);
}

.text--bold {
  font-weight: 500;
}