/* Intro icon start */
.intro__icon {
  width    : 100%;
  max-width: 55px;
  height   : 55px;
}

/* Intro icon end */


/* Footer start */
.footer__logo {
  display      : inline-block;
  margin-bottom: 20px;
}

/* Footer end */