.subscribe {
  transform: translateY(50%);
}

.subscribe-container {
  background-color: var(--btn-primary-color);
  border-radius   : 10px;
  padding         : 58px 70px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  height          : 233px;
  border          : 2px solid var(--btn-primary-color);
  box-shadow      : 0 30px 114px 0 rgba(13, 16, 37, 0.06);
}

.subscribe-container a {
  padding: 17px 66px;
}

.subscribe__content {
  max-width: 410px;
  width    : 100%;
}

.subscribe__title {
  font-size    : var(--fs-large);
  line-height  : var(--lh-x-large);
  max-width    : 370px;
  margin-bottom: 10px;
}