.wrapper {
  display        : flex;
  justify-content: space-evenly;
}

.flex-container,
.flex-container1,
.flex-container2,
.flex-container3,
.flex-container4 {
  width  : 200px;
  height : 200px;
  display: flex;
}

.flex-child1,
.flex-child2,
.flex-child3,
.flex-child4 {
  width : 50px;
  height: 50px;
}

.flex-container {
  border          : 2px solid red;
  background-color: red;
  justify-content : center;
  align-items     : center;
}

.flex-container .flex-child {
  border          : 2px solid #000;
  background-color: #000;
}

.flex-container1 {
  border          : 2px solid blue;
  background-color: blue;
  align-items     : center;
  justify-content : flex-end;
}

.flex-container1 .flex-child1 {
  border          : 2px solid orangered;
  background-color: orangered;
}

.flex-container2 {
  border          : 2px solid gray;
  background-color: gray;
  align-items     : center;
  justify-content : flex-start;
}

.flex-container2 .flex-child2 {
  border          : 2px solid violet;
  background-color: violet;
}

.flex-container3 {
  border          : 2px solid #000;
  background-color: #000;
  justify-content : center;
}

.flex-container3 .flex-child3 {
  border          : 2px solid brown;
  background-color: brown;
}

.flex-container4 {
  border          : 2px solid bisque;
  background-color: bisque;
  justify-content : center;
  align-items     : flex-end;
}

.flex-container4 .flex-child4 {
  border          : 2px solid rosybrown;
  background-color: rosybrown;
}