// Start feature section
.feature {
  margin-bottom: 136px;

  &__container {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
    gap            : 169.48px;
  }

  &__img {
    margin-left: 33px;
  }

  &__content {
    max-width: 430px;

    &__heading {
      margin-bottom: 22px;
    }
  }

  &__list {
    display       : flex;
    flex-direction: column;
    gap           : 15px;

    &__item {
      display   : flex;
      background: url(../assets/images/icons/check-circle.svg) no-repeat 0 3px;

      span {
        font-size  : $fs-x-small;
        line-height: $lh-xxl-medium;
        transform  : translateY(3px);
        margin-left: 34px;
      }
    }
  }

  @include largeDesktop {
    &__container {
      gap: 130px;
    }
  }

  @include tablet {
    &__img {
      img {
        width: 100%;
      }
    }
  }

  @include landscapePhone {
    &__container {
      flex-direction: column;
      align-items   : center;
      gap           : 20px;
    }

    &__content {
      text-align: center;
    }

    &__list-item {
      background-position: 0px 2px;
      background-size    : contain;
    }
  }

  @include portraitPhone {
    &__list-item {
      background-position: 0px 2px;
      background-size    : 24px 24px;

      span {
        margin-left: 0;
        transform  : translateX(30px);
      }
    }
  }
}

// End feature section