// Start sponsor section
.sponsor {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image:nth-child(3) {
    margin: 0 -48px;
  }

  @include tablet {
    &__container {
      margin: 0 20px;
    }

    &__image {
      img {
        width: 70%;
      }
    }
  }

  @include portraitPhone {
    &__container {
      flex-direction: column;
      gap: 20px;
    }

    &__image {
      img {
        width: 100%;
      }
    }
  }
}
// End sponsor section
