// Start hero section
.hero {
  margin-bottom: 80px;
  &__container {
    display: grid;
    grid-template-columns: 555px 611px;
    column-gap: 41px;

    .hero__content {
      max-width: 555px;
      width: 100%;

      .hero__heading {
        color: $text-secondary-color;
        font-size: $fs-x-huge;
        font-weight: $fw-medium;
        line-height: $lh-xxl-huge;
        margin-bottom: 20px;
      }

      .hero__description {
        font-size: $fs-small;
        margin-bottom: 59px;
      }

      .hero__btn:hover {
        color: $text-white-color;
        background-color: $bg-dark-red-color;
        transform: translateY(-0.25rem);
      }
    }
  }
}
// End hero section

// Start intro section
.intro {
  margin-bottom: 88px;

  &__container {
    display: flex;
    padding: 44px 91px;
    background-color: $bg-white-color;
    border-radius: 10px;
    box-shadow: 0 50px 114px rgba(13, 16, 37, 0.06);
    min-height: 200px;

    .intro__item {
      display: flex;
      align-items: center;
      gap: 36px;

      &:nth-child(1) {
        margin-right: 129px;
      }

      &:nth-child(2) {
        border-left: 2px solid $border-gray-lighter-color;
        border-right: 2px solid $border-gray-lighter-color;
        padding: 0 134px 0 113px;
      }

      &:nth-child(3) {
        margin-left: 91.5px;
      }

      &-general {
        .intro__title {
          color: $text-secondary-color;
          font-size: $fs-x-large;
          font-weight: $fw-bold;
          line-height: $lh-x-medium;
        }
        .intro__text {
          font-size: $fs-medium;
          line-height: $lh-medium;
        }
      }
    }
  }
}
// End intro section

// Start feature section
.feature {
  margin-bottom: 128px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 169.48px;

    .feature__img {
      margin-left: 33px;
    }

    .feature__content {
      max-width: 430px;
      width: 100%;

      .feature__heading {
        margin-bottom: 22px;
      }

      .feature__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;

        &-item {
          background-image: url(../assets/images/icons/check-circle.svg);
          background-repeat: no-repeat;
          background-position: 0 3px;
          display: flex;

          & span {
            font-size: $fs-x-small;
            line-height: $lh-xxl-medium;
            transform: translateY(3px);
            margin-left: 34px;
          }
        }
      }
    }
  }
}
// End feature section

// Start plan section
.plan {
  padding: 80px 0 150px;
  background: linear-gradient(
    180deg,
    $bg-gray-light-color -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
  &__header {
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .plan__desc {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;

    .plan__card {
      .plan__img {
        margin-bottom: 30px;
      }
      .plan__title {
        color: $text-secondary-color;
        font-size: $fs-x-medium;
        font-weight: $fw-medium;
        line-height: $lh-xs-medium;
        margin-bottom: 28px;
      }

      .plan__details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 48px;

        &--first,
        &--second {
          min-height: 230px;
        }

        .plan__infor {
          display: flex;
          background-image: url(../assets/images/icons/check.svg);
          background-repeat: no-repeat;

          & span {
            font-size: $fs-x-small;
            line-height: $lh-xxl-medium;
            margin-left: 43px;
          }
        }
      }

      .plan__price {
        margin-bottom: 21px;
        color: $text-secondary-color;
        font-size: $fs-x-large;
        font-weight: $fw-medium;
        line-height: $lh-x-medium;
      }
    }
  }
}
// End plan section

// Start network section
.network {
  margin-bottom: 36px;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 555px;
    text-align: center;
    margin: 0 auto;

    .network__heading {
      max-width: 383px;
      margin-bottom: 20px;
    }
  }

  &__map {
    margin-top: 137px;
    margin-left: 40px;
  }
}
// End network section

// Start sponsor section
.sponsor {
  margin-bottom: 45px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .sponsor__image:nth-child(3) {
      margin: 0 -48px;
    }
  }
}
// End sponsor section

// Start customer section

// Start customer section
.customer {
  margin-bottom: 52px;
  .customer__card {
    margin-bottom: 61px;

    &:hover {
      border-color: $border-dark-red-color;
    }
  }

  &__header {
    text-align: center;
    max-width: 555px;
    margin: 0px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    .customer__heading {
      max-width: 448px;
    }

    & p {
      margin-bottom: 2px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;

    .customer__author {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .customer__infor {
        display: flex;
        align-items: center;
        gap: 19px;
        margin-bottom: 7px;

        .customer__content {
          .customer__name,
          .customer__address {
            line-height: 1;
          }

          .customer__name {
            color: $text-secondary-color;
            font-size: $fs-x-medium;
            font-weight: $fw-medium;
            width: 142px;
            margin-bottom: 0;
          }

          .customer__address {
            font-size: $fs-x-small;
          }
        }
      }
    }

    .customer__rating {
      background-image: url(../assets/images/icons/star.svg);
      background-repeat: no-repeat;
      background-position: 34px 1px;

      & span {
        display: inline-block;
        color: $text-secondary-color;
        line-height: $lh-xl-medium;
        margin-right: 29px;
        transform: translateY(-4px);
      }
    }

    .customer__describe {
      color: $text-secondary-color;
      line-height: $lh-xl-medium;
      width: 340px;
      min-height: 100px;
    }
  }

  .navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .direction {
      display: flex;
      gap: 20px;

      &__border--backward,
      &__border--forward {
        border-color: $border-dark-red-color;
        border-radius: 9999px;
        border: 2px solid $border-dark-red-color;
        padding: 15px;
        width: 60px;
        height: 60px;
        position: relative;
        transition: transform 0.4s;
      }

      &__border--backward:hover {
        transform: translateX(-0.25rem);
      }

      &__border--forward {
        background-color: $bg-dark-red-color;
        color: $text-white-color;

        &:hover {
          transform: translateX(0.25rem);
        }
      }

      &__arrow--backward,
      &__arrow--forward {
        position: absolute;
        top: 25%;
      }
    }
  }
}
// End customer section

// Start subscribe section
.subscribe {
  &__container {
    border: 2px solid $border-white-color;
    padding: 52px 70px;
    border-radius: 10px;
    box-shadow: 0 30px 114px 0 rgba(13, 16, 37, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subscribe__content {
      max-width: 410px;
      width: 100%;

      .subscribe__heading {
        max-width: 372px;
      }
    }

    & a {
      padding: 18px 65px;

      &:hover {
        color: $text-white-color;
        background-color: $bg-dark-red-color;
        box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
        transform: translateY(-0.25rem);
      }
    }
  }
}
// End subscribe section

@media (max-width: 1440px) {
  .hero,
  .intro,
  .feature,
  .network,
  .sponsor,
  .customer,
  .subscribe {
    padding: 0 150px;
  }

  .header__container,
  .intro__container,
  .feature__container,
  .network__container,
  .sponsor__container,
  .customer__container,
  .subscribe__container {
    width: 1140px;
  }

  .plan {
    width: 1450px;
  }
}

@media (max-width: 992px) {
  .intro,
  .feature,
  .plan,
  .network,
  .sponsor,
  .customer {
    width: 1440px !important;
  }

  .hero {
    &__container {
      .hero__content {
        .hero__description,
        .hero__btn {
          font-size: $fs-x-large;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero__heading,
  .feature__content .feature__heading,
  .plan__header .plan__heading,
  .network__header .network__heading,
  .customer__header .customer__heading {
    font-size: $fs-huge;
  }

  .hero__img img,
  .feature__img img,
  .network__map img {
    width: 100%;
  }

  .hero__container,
  .feature__img {
    width: 1140px;
  }

  .hero__content,
  .feature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // Hero section begin
  .hero {
    &__container {
      grid-template-columns: 1fr;

      .hero__content {
        max-width: 1140px;
        order: 1;

        .hero__heading {
          max-width: 844px;
        }

        .hero__btn {
          font-size: $fs-large;
        }

        .hero__description {
          font-size: $fs-large;
        }
      }

      .hero__img {
        order: 0;
      }
    }
  }
  // Hero section end

  // Intro section begin
  .intro {
    &__container {
      padding: 44px 30px;
      min-height: 300px;

      .intro__item {
        margin-top: 30px;
        &-icon {
          & img {
            width: 100px;
          }
        }

        &-general {
          .intro__title {
            font-size: $fs-large;
          }

          .intro__text {
            font-size: $fs-x-large;
          }
        }
      }
    }

    // Intro section end
  }

  // Feature section begin
  .feature {
    &__container {
      flex-direction: column;

      .feature__content {
        max-width: 1140px;

        .feature__heading {
          max-width: 844px;
        }

        .feature__desc {
          font-size: $fs-xl-large;
        }

        .feature__list {
          width: 100%;
          &-item {
            background-position: 0 12px;
            background-size: 60px;
            & span {
              transform: translateY(0);
              margin-left: 70px;
              font-size: $fs-xl-large;
            }
          }
        }
      }
    }
  }
  // Feature section end

  // Plan section begin
  .plan {
    &__header {
      max-width: 1440px;

      .plan__desc {
        font-size: $fs-xl-large;
      }
    }

    &__list {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto;
      .plan__card {
        .plan__img {
          .plan__card__img {
            width: 200px;
          }
        }

        .plan__title {
          font-size: $fs-large;
        }

        .plan__details {
          .plan__infor {
            background-size: 50px;
            & span {
              font-size: $fs-x-large;
              margin-left: 60px;
            }
          }
        }

        .plan__price {
          font-size: $fs-xl-large;
        }
      }
    }
  }
  // Plan section end

  // Network section begin
  .network {
    .network__header {
      max-width: 1140px;
      .network__heading {
        max-width: 660px;
      }
      & p {
        font-size: $fs-xl-large;
      }
    }
  }
  // Network section end

  // Sponsor section begin
  .sponsor {
    &__container {
      .sponsor__image {
        & img {
          width: 250px;
        }
      }
    }
  }
  // Sponsor section end

  // Customer section begin
  .customer {
    margin-top: 150px;
    &__header {
      max-width: 1140px;
      .customer__heading {
        max-width: 900px;
      }
      & p {
        font-size: $fs-xl-large;
      }
    }

    &__list {
      flex-direction: column;
      gap: 0;
      .customer__card {
        max-width: 100%;
        width: 1140px;
        height: 100%;

        .customer__author {
          .customer__infor {
            .customer__avatar {
              & img {
                width: 100px;
              }
            }

            .customer__content {
              .customer__name {
                font-size: $fs-large;
                width: 100%;
                margin-bottom: 10px;
              }

              .customer__address {
                font-size: $fs-x-large;
              }
            }
          }

          .customer__rating {
            background-size: 35px;
            background-position: 52px 5px;
            & span {
              font-size: $fs-large;
              transform: translate(-20px, -6px);
              margin-right: 45px;
            }
          }
        }

        .customer__describe {
          width: 100%;
          font-size: $fs-large;
        }
      }
    }

    .navigation__bar {
      &--transition {
        & img {
          width: 230px;
        }
      }

      .direction {
        &__border--backward,
        &__border--forward {
          width: 100px;
          height: 100px;

          .direction__arrow--backward,
          .direction__arrow--forward {
            left: 25%;

            & img {
              width: 50px;
            }
          }
        }
      }
    }
  }
  // Customer section end

  // Subscribe section begin
  .subscribe {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      .subscribe__content {
        max-width: 1140px;

        .subscribe__heading {
          max-width: 530px;
          font-size: $fs-x-huge;
        }

        & p {
          font-size: $fs-large;
        }
      }

      & a {
        padding: 30px 65px;
        font-size: $fs-x-large;
        width: 50%;
        border-radius: 20px;
      }
    }
  }
  // Subscribe section end
}

@media (max-width: 576px) {
  // Intro section begin
  .intro {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 40px;

      .intro__item {
        gap: 61px;
        &:first-child {
          margin-right: 0;
        }

        &:nth-child(2) {
          border: none;
          margin-left: 95px;
        }

        &:nth-child(3) {
          margin-left: 33px;
        }

        &-icon {
          & img {
            width: 150px;
          }
        }

        &-general {
          .intro__title {
            font-size: $fs-x-huge;
          }

          .intro__text {
            font-size: $fs-xl-large;
          }
        }
      }
    }
  }
  // Intro section end

  // Plan section begin
  .plan {
    &__list {
      max-width: 800px;
      .plan__card {
        .plan__img {
          .plan__card__img {
            width: 250px;
          }
        }

        .plan__title {
          font-size: $fs-x-huge;
        }

        .plan__details {
          .plan__infor {
            background-size: 76px;
            & span {
              font-size: $fs-large;
              transform: translateX(40px);
            }
          }
        }

        .plan__price {
          font-size: $fs-x-huge;
        }
      }
    }
  }
  // Plan section end

  // Sponsor section begin
  .sponsor {
    &__container {
      .sponsor__image {
        & img {
          width: 300px;
        }
      }
    }
  }
  // Sponsor section end
}
