.feature {
  margin-bottom: 131px;
}

.feature__container {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-end;
  gap            : 170px;
}

.feature__content {
  max-width: 428px;
  width    : 100%;
}

.feature__content .feature__heading {
  margin-bottom: 20px;
}

.feature__desc {
  width        : 430px;
  margin-bottom: 16px;
}

.feature__list {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  gap            : 15px;
}

.feature__item {
  background-image   : url(../../assets/images/icons/check-circle.svg);
  background-repeat  : no-repeat;
  background-position: 0 7px;
  display            : flex;
}

.feature__img {
  margin-left: 33px;
}

.feature__item>span {
  font-size  : var(--fs-x-small);
  line-height: var(--lh-xxl-medium);
  transform  : translateY(5px);
  margin-left: 34px;
}