.hero {
  margin-bottom: 124px;
}

.hero__container {
  position: relative;
}

.hero__content {
  width      : 100%;
  max-width  : 555px;
  margin-left: 2px;
}

.hero__heading {
  margin-bottom: 19px;
}


.hero__heading span {
  font-weight: 700;
}

.hero__desc {
  margin-bottom: 50px;
}