.intro {
  margin-bottom: 98px;
}

.intro__container {
  background-color: var(--bg-white-color);
  border-radius   : 10px;
  min-height      : 200px;
  padding         : 44px 91px;
  display         : flex;
  box-shadow      : 0 50px 114px rgba(13, 16, 37, 0.06);
}

.intro__item {
  display    : flex;
  align-items: center;
  gap        : 36px;
}

.intro__item:nth-child(1) {
  margin-right: 129px;
}

.intro__item:nth-child(2) {
  border-left : 2px solid var(--border-gray-lighter-color);
  border-right: 2px solid var(--border-gray-lighter-color);
  padding     : 0 134px 0 113px;
}

.intro__item:nth-child(3) {
  margin-left: 91.5px;
}

.intro__general .intro__title {
  font-size  : var(--fs-x-large);
  font-weight: var(--fw-bold);
  line-height: var(--lh-x-medium);
}

.intro__general .intro__text {
  font-size  : var(--fs-medium);
  line-height: var(--lh-medium);
}