.network {
  margin-bottom: 30px;
}

.network__header {
  max-width     : 555px;
  margin        : 0 auto;
  text-align    : center;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.network__header .network__heading {
  margin-bottom: 20px;
  max-width    : 383px;
}

.network__header .subtext {
  margin-bottom: 156px;
}

.network__map {
  margin-left: 40px;
}