.sponsor {
  margin-bottom: 54px;
}

.sponsor__container {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 48px;
  max-width      : 1136px;
  max-height     : 208px;
}

.sponsor__item:nth-child(3) {
  margin: 0 -48px;
}